.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tab{
position:absolute;
left:30px;
top:30px;
width:30%;
}
.buttonlist{
  text-align: center;
}
body{
  background-color: #282c34;
}
.element{
  display: flex;
  width:100%;
  margin-top: 30px;
  font-size:xx-large;
  background-color: whitesmoke;
  border-radius: 5px;
  

}
.Dragger{
  position:absolute;
}
[class^="element-"]{
width:100%;
}
.flexbox{
display: flex;

flex-flow:row wrap;
justify-content: space-around;
}

.flexitem{
  margin-top: 7%;;
}
.area{
  width:350px;
  height:500px;
background-color: white;
}
.image{
  height:100px;
  width:200px;
  background-color: grey;
 
}
.setpos{

  position:absolute;
  
  
 
}
.setpos:focus{
  
  border:1px solid blue;
  /* box-sizing: border-box; */
}
.leftline{

  background-color: red;
 position: absolute;
 min-width:1px;
  max-width:1px;
 height:400px;
}
/* .rightline{
  position: absolute;
  border-right: 1px solid red;
  height:400px;
} */
/* .topline{
  background-color: red;
  position: absolute;
  height:1px;
  width:400px;
} */
/* .bottomline{
  position: absolute;
  border-bottom: 1px solid red;height:400px;
} */

.groupdrag{
  
  position: absolute;
}
.verticalcenter{
  height:500px;
  min-width:1px;
  max-width:1px;
  margin-left: 175px;;
  position:absolute;
  background-color: red;
}
.leftvertical{
  height:500px;
  max-width:1px;
  min-width:1px;
  position:absolute;
  background-color: red;
}
.rightvertical{
  height:500px;
  max-width:1px;
  min-width:1px;
  position:absolute;
  background-color: red;
}
.centervertical{
  height:500px;
  max-width:1px;
  min-width:1px;
  position:absolute;
  background-color: red;
}
.horizontalcenter{
  height:1px;
  width:350px;
 margin-top: 249.5px;
  position:absolute;
  background-color: red;
}
.selected{
  color:white;
}
.frontbackbuttons{
  width: 50%;
 margin-top: 10%;
 font-size: larger;
}